## Чтение данных из CSV файла
тут для эксперемента меняем файл загрузки
1. 2017.xlsx
2. 2018.xlsx
3. 03-05_2017.xlsx
4. 2010-2017.xlsx `с этими данными пока не работает`
5. 2011-2017.xlsx
6. 2012-2017.xlsx
7. 2013-2017.xlsx
8. 2014-2017.xlsx `тут уже работает`
8. 2014-2018.xlsx

In [144]:
import pandas
from sklearn import tree

### приготовим данные для обучения и для тестирования

In [165]:
learn = pandas.read_excel('2014-2017.xlsx')
test = pandas.read_excel('2018.xlsx')

In [166]:
# посмотрим сколько данных в таблице
learn.shape

(871, 7)

In [167]:
test.shape

(356, 7)

In [168]:
test.head()

,date,temperature,pressure,humidity,wind,cloud,rainfall
0,30.12.2018 13:00,-20.5,747.1,74,"Ветер, дующий с юго-юго-востока",Облаков нет.,clear
1,29.12.2018 13:00,-23.5,752.8,74,"Ветер, дующий с юго-юго-востока",Облаков нет.,smoke
2,28.12.2018 13:00,-23.7,759.4,67,"Штиль, безветрие",Облаков нет.,clear
3,27.12.2018 13:00,-28.2,762.2,71,"Ветер, дующий с востоко-северо-востока",Облаков нет.,clear
4,26.12.2018 13:00,-28.8,763.6,64,"Ветер, дующий с северо-востока",Облаков нет.,clear

## попробую обучение на ближайших соседях

In [169]:
from sklearn.neighbors import KNeighborsClassifier

In [170]:
learn_data = learn.values[:,1:4] 
test_data = test.values[:,1:4]
#learn_data
#test_data

In [171]:
print(learn_data.shape, test_data.shape)

(871, 3) (356, 3)

In [172]:
learn_result = learn.values[:,6]
test_result = test.values[:,6]
#test_result

In [173]:
print(learn_result.shape, test_result.shape)

(871,) (356,)

In [174]:
kn_classifier = KNeighborsClassifier(n_jobs=-1)

## начинается обучение

In [175]:
kn_classifier = kn_classifier.fit(learn_data, learn_result)

## тестируем программу

In [176]:
test_id = 120
test[test_id:test_id+6]

,date,temperature,pressure,humidity,wind,cloud,rainfall
120,28.08.2018 13:00,13.6,733.5,93,"Ветер, дующий с юго-юго-запада",100%.,rain
121,27.08.2018 13:00,19.5,732.9,64,"Ветер, дующий с востоко-северо-востока","90 или более, но не 100%",clear
122,26.08.2018 13:00,20.1,732.3,63,"Ветер, дующий с западо-юго-запада",100%.,clear
123,25.08.2018 13:00,22.6,733.3,52,"Ветер, дующий с юго-юго-востока",100%.,clear
124,24.08.2018 13:00,14.4,734.4,96,"Ветер, дующий с юго-запада",100%.,clear
125,23.08.2018 13:00,14.0,732.1,90,"Ветер, дующий с юга",100%.,clear

In [177]:
prediction = classifier.predict([[14, 732.1, 90]])
print(prediction)

['rain']

### попруобуем метрику для выявления ошибок

In [178]:
from sklearn.metrics import accuracy_score

In [179]:
# загрузим данные для теста
kn_predictions = kn_classifier.predict(test_data)

## получим точность наших предсказаний

In [180]:
accuracy_score(test_result, kn_predictions)

0.7865168539325843