In [94]:
#импорт библиотек pandas и модуля tree из библиотеки sklearn
import pandas as pd
from sklearn import tree

In [95]:
# выбрать таблицу для преобразования
data = pd.read_excel('2018.xls', header = 6)
#data[:3]

data.drop(data.columns[[3,4,7,8,9,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]], axis=1, inplace=True)
data.head()

,Местное время в Тайге,T,Po,U,DD,N,WW
0,31.12.2018 19:00,-11.4,751.3,87,"Ветер, дующий с юго-юго-запада",60%.,Состояние неба в общем не изменилось.
1,31.12.2018 07:00,-12.8,746.9,85,"Ветер, дующий с юга",100%.,Ливневый снег слабый в срок наблюдения или за ...
2,31.12.2018 01:00,-20.3,745.6,76,"Ветер, дующий с юго-юго-востока",Облаков нет.,
3,30.12.2018 19:00,-21.7,745.5,79,"Ветер, дующий с юго-востока",Облаков нет.,
4,30.12.2018 13:00,-20.5,747.1,74,"Ветер, дующий с юго-юго-востока",Облаков нет.,

In [96]:
new_data = pd.DataFrame(columns = ['date', 'temperature', 'pressure', 'humidity', 'wind', 'cloud', 'rainfall'])
num = 0
row = 0
for i in data['Местное время в Тайге']:
    #if '13:00' in i:
    new_data.loc[num] = [j for j in data.loc[row]]
    num += 1
    row += 1
new_data[:2]

,date,temperature,pressure,humidity,wind,cloud,rainfall
0,31.12.2018 19:00,-11.4,751.3,87,"Ветер, дующий с юго-юго-запада",60%.,Состояние неба в общем не изменилось.
1,31.12.2018 07:00,-12.8,746.9,85,"Ветер, дующий с юга",100%.,Ливневый снег слабый в срок наблюдения или за ...

In [97]:
# функция преобразования русских слов в английские в столбике осадки
def translate(string):
    if ('снег' in string or 'Снег' in string) and ('дождь'in string or 'Дождь' in string):
        return 'snow with rain'
    elif 'снег' in string or 'Снег' in string:
        return 'snow'
    elif 'дождь'in string or 'Дождь' in string:
        return 'rain'
    elif 'дымка' in string or 'Дымка' in string:
        return 'smoke'
    elif 'облака'in string or 'Облака' in string:
        return 'cloud'
    elif 'туман'in string or 'Туман' in string:
        return 'fog' 
    else:
        return 'clear'
    
# собираю отдельный  DataFrame где будут представленны название осадков на английском
test=[]
for k in new_data['rainfall']:
    if 'Состояние неба в общем не изменилось'in k or 'состояние неба в общем не изменилось' in k:
        try:
            test.append(test[-1])
        except:
            test.append('clear')
    else:
        res = translate(k)
        test.append(res)

bufer = pd.DataFrame({'rainfall':test})
#bufer[:2]

# делаем замену столбца в исходном DataFrame
new_data.rainfall = bufer.rainfall
new_data[:10]

,date,temperature,pressure,humidity,wind,cloud,rainfall
0,31.12.2018 19:00,-11.4,751.3,87,"Ветер, дующий с юго-юго-запада",60%.,clear
1,31.12.2018 07:00,-12.8,746.9,85,"Ветер, дующий с юга",100%.,snow
2,31.12.2018 01:00,-20.3,745.6,76,"Ветер, дующий с юго-юго-востока",Облаков нет.,clear
3,30.12.2018 19:00,-21.7,745.5,79,"Ветер, дующий с юго-востока",Облаков нет.,clear
4,30.12.2018 13:00,-20.5,747.1,74,"Ветер, дующий с юго-юго-востока",Облаков нет.,clear
5,30.12.2018 10:00,NaN,747.8,66,"Ветер, дующий с юго-востока",Облаков нет.,clear
6,30.12.2018 07:00,-33.7,748.4,66,"Ветер, дующий с востоко-юго-востока",Облаков нет.,clear
7,30.12.2018 04:00,NaN,749.1,66,"Ветер, дующий с юго-востока",Облаков нет.,clear
8,30.12.2018 01:00,-32.3,749.8,68,"Ветер, дующий с юго-востока",Облаков нет.,clear
9,29.12.2018 22:00,-31.0,750.7,70,"Ветер, дующий с юго-юго-востока",Облаков нет.,clear

## замена пустых значений в столбце температура

In [98]:
temp=[]
for i in new_data['temperature']:
    if i < 0 or i == 0 or i > 0:
        temp.append(i)
    else:
        temp.append(temp[-1])
        #temp.append('0000')
        
bufer2 = pd.DataFrame({'temperature':temp})
bufer2[:2]

   temperature
0        -11.4
1        -12.8

## замена пустых значений в столбце влажность и давления

In [99]:
pres=[]
for i in new_data['pressure']:
    if i < 0 or i == 0 or i > 0:
        pres.append(i)
    else:
        pres.append(pres[-1])
        
bufer3 = pd.DataFrame({'pressure':pres})
bufer3[:2]

   pressure
0     751.3
1     746.9

In [100]:
hum=[]
for i in new_data['humidity']:
    if i < 0 or i == 0 or i > 0:
        hum.append(i)
    else:
        hum.append(hum[-1])
        
bufer4 = pd.DataFrame({'humidity':hum})
bufer4[:2]

   humidity
0        87
1        85

In [101]:
# делаем замену столбца в исходном DataFrame
new_data.temperature = bufer2.temperature
new_data.pressure = bufer3.pressure
new_data.humidity = bufer4.humidity
#new_data

In [102]:
#сохраним новую таблицу на диск
new_data.to_excel('2018.xlsx')