# Аналитика ЕГЭ  
## версия №2.1
### данная программа открывает файл (файлы) из папки ege и считывает данные (файлы в таблице *.xls).
### программа создает новый файл в формате analytics.xlsx

In [35]:
#подключаем библиотеки
import os
import pandas as pd

## Функция перевода + и - в 1 и 0
#### в некоторых предметах кроме + и - встречаются цифры (они останутся без изменений)

In [36]:
def plusToNum(s):
    st=''
    for i in s:
        if i == '+':
            st+='1'
        elif i == '-': 
            st +='0'
        else:
            st += i
    arr = [int(i) for i in st]
    return arr

### Считываем файлы из папки
#### (файлы должны быть по одному предмету)

In [37]:
import os
f  = os.listdir()
Files = ['./ege/'+i for i in os.listdir('./ege') if 'xlsx' in i]
if Files:
    print(Files)
else:
    print('folder is empty')

['./ege/inf.xlsx']

### готовим шапку таблицы

In [38]:
table2 = pd.DataFrame(columns=['Last name'] + [str(i+1) for i in range(23)]+['summa'])
table2.head()

Empty DataFrame
Columns: [Last name, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, summa]
Index: []

[0 rows x 25 columns]

### заполним таблицу добавив туда фамилия и сумму баллов каждого ученика

In [44]:
table = pd.read_excel(i.strip())
table[:6]

,Протокол проверки результатов единого государственного экзамена в 2018 г.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,42 - Кемеровская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,404004 - Нетиповое муниципальное бюджетное общ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05 - Информатика и ИКТ 2018.05.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,№,NaN,Код МСУ,NaN,Код ОО,NaN,Класс,NaN,Код ППЭ,NaN,...,NaN,Номер,NaN,Задания с кратким ответом,NaN,Задания с развёрнутым ответом,NaN,Первичный балл,NaN,Балл

In [34]:
table = pd.read_excel(i.strip(),header = 1, names =['№','kod','kod2','class','kodPPE','room','Last name', 'First name', 'Second name','doc_s','doc_number','result_1','result_2','first_ball','ball'])

ValueError: Length mismatch: Expected axis has 27 elements, new values have 15 elements

In [15]:
row = 0
for i in Files:
    table = pd.read_excel(i.strip(),header = 1, names =['№','kod','class','Last name', 'First name', 'Second name','document','result_1','result_2','var','ball','%'])
    for t,k in enumerate(table['result_1']):
        buf = plusToNum(k)
        table2.loc[t+row] = [table['Last name'][t]]+[j for j in buf]+[sum(buf)]
    row += t+1
new_df[:5]

ValueError: Length mismatch: Expected axis has 27 elements, new values have 12 elements