# Аналитика ЕГЭ  
## версия №2.1
### данная программа открывает файл (файлы) из папки ege и считывает данные (файлы в таблице *.xls).
### программа создает новый файл в формате analytics.xlsx

In [259]:
#подключаем библиотеки
import os
import pandas as pd
import numpy as np

## Функция перевода + и - в 1 и 0
#### в некоторых предметах кроме + и - встречаются цифры (они останутся без изменений)

In [260]:
def plusToNum(s):
    st=''
    for i in s:
        if i == '+':
            st+='1'
        elif i == '-': 
            st +='0'
        else:
            st += i
    arr = [int(i) for i in st]
    return arr

### Считываем файлы из папки
#### (файлы должны быть по одному предмету)

In [261]:
import os
f  = os.listdir()
Files = ['./ege/'+i for i in os.listdir('./ege') if 'xls' in i]
if Files:
    print(Files)
else:
    print('folder is empty')

['./ege/first.xls', './ege/third.xls', './ege/second.xls']

## уберем лишнии столбцы и выбирим строчку для шапки

In [262]:
table = pd.read_excel(Files[1].strip(), header = 6)
table.drop(table.columns[[0, 1,3,5,7,9,11,15,17,19,21,23,25]], axis=1, inplace=True)
#rus = rus[:33]
# тут была проблема в русском языке
table.head()

,Код МСУ,Код ОО,Класс,Код ППЭ,Аудитория,Фамилия,Имя,Отчество,Серия,Номер,Задания с кратким ответом,Задания с развёрнутым ответом,Первичный балл,Балл
0,901.0,404004.0,11В,801.0,32.0,Орлова,Валерия,Сергеевна,3213.0,356010.0,2+++++5+++++++2+-+-----4,1(1)3(3)1(1)2(3)2(2)2(2)3(3)2(3)0(2)2(2)1(1)1(1),47.0,76.0
1,901.0,404004.0,11В,801.0,14.0,Паскаль,Анна,Александровна,3213.0,331939.0,2+++++5+++++++2++++++++4,1(1)3(3)1(1)3(3)2(2)2(2)3(3)3(3)2(2)1(2)1(1)1(1),56.0,98.0
2,901.0,404004.0,11В,801.0,16.0,Мухутдинова,Валерия,Руслановна,3213.0,332019.0,2+++++5+++++++2++++++--4,1(1)1(3)1(1)3(3)1(2)1(2)2(3)3(3)1(2)0(2)1(1)1(1),47.0,76.0
3,901.0,404004.0,11В,801.0,15.0,Нуреева,Яна,Евгеньевна,3212.0,238331.0,2+++++5+++++++2++++++++4,1(1)3(3)1(1)3(3)2(2)1(2)3(3)3(3)2(2)1(2)1(1)1(1),55.0,96.0
4,901.0,404004.0,11В,801.0,13.0,Пастушенко,Арина,Алексеевна,3213.0,355644.0,2+++++5+++++++2+++++++-3,1(1)3(3)1(1)3(3)2(2)2(2)3(3)3(3)2(2)2(2)1(1)1(1),55.0,96.0

In [263]:
table.shape

(23, 14)

## Меняем имена столбцов
### долго не мог найти такой простой способ )

In [264]:
cols = ['kod','kod2','class','kodPPE','room','Last name', 'First name', 'Second name','doc_s','doc_number','result_1','result_2','first_ball','ball']
table.columns = cols
# функция dropna удаляет строки где есть значения NaN 
table = table.dropna(subset=['kod'])
table#[:3]

,kod,kod2,class,kodPPE,room,Last name,First name,Second name,doc_s,doc_number,result_1,result_2,first_ball,ball
0,901.0,404004.0,11В,801.0,32.0,Орлова,Валерия,Сергеевна,3213.0,356010.0,2+++++5+++++++2+-+-----4,1(1)3(3)1(1)2(3)2(2)2(2)3(3)2(3)0(2)2(2)1(1)1(1),47.0,76.0
1,901.0,404004.0,11В,801.0,14.0,Паскаль,Анна,Александровна,3213.0,331939.0,2+++++5+++++++2++++++++4,1(1)3(3)1(1)3(3)2(2)2(2)3(3)3(3)2(2)1(2)1(1)1(1),56.0,98.0
2,901.0,404004.0,11В,801.0,16.0,Мухутдинова,Валерия,Руслановна,3213.0,332019.0,2+++++5+++++++2++++++--4,1(1)1(3)1(1)3(3)1(2)1(2)2(3)3(3)1(2)0(2)1(1)1(1),47.0,76.0
3,901.0,404004.0,11В,801.0,15.0,Нуреева,Яна,Евгеньевна,3212.0,238331.0,2+++++5+++++++2++++++++4,1(1)3(3)1(1)3(3)2(2)1(2)3(3)3(3)2(2)1(2)1(1)1(1),55.0,96.0
4,901.0,404004.0,11В,801.0,13.0,Пастушенко,Арина,Алексеевна,3213.0,355644.0,2+++++5+++++++2+++++++-3,1(1)3(3)1(1)3(3)2(2)2(2)3(3)3(3)2(2)2(2)1(1)1(1),55.0,96.0
5,901.0,404004.0,11Б,801.0,12.0,Полетаев,Артем,Витальевич,3212.0,238602.0,2+++++5+++++-+2+++++-++4,1(1)3(3)1(1)3(3)2(2)1(2)3(3)2(3)1(2)1(2)1(1)1(1),51.0,86.0
6,901.0,404004.0,11В,801.0,31.0,Попова,Елизавета,Сергеевна,3213.0,306995.0,2++++-5+++++++2+++++++-4,1(1)2(3)1(1)3(3)2(2)2(2)3(3)3(3)1(2)2(2)1(1)1(1),53.0,91.0
7,901.0,404004.0,11В,801.0,17.0,Рублева,Алина,Вячеславовна,3213.0,332180.0,2++++-3-++++++2+++--+--3,1(1)3(3)1(1)1(3)2(2)2(2)3(3)3(3)1(2)2(2)1(1)1(1),45.0,72.0
8,901.0,404004.0,11В,801.0,13.0,Симоненко,Елизавета,Владимировна,3212.0,238245.0,2+++++5+++++++2+++++-++4,1(1)3(3)1(1)2(3)2(2)2(2)2(3)2(3)2(2)2(2)1(1)1(1),53.0,91.0
11,901.0,404004.0,11А,801.0,16.0,Сорокина,Алина,Вячеславовна,3213.0,331925.0,2+-+-+3++-+++-2+-+++-+-3,1(1)3(3)1(1)2(3)1(2)1(2)2(3)1(3)2(2)1(2)1(1)1(1),40.0,66.0
12,901.0,404004.0,11Б,801.0,13.0,Сахаутдинов,Руслан,Василович,412.0,431470.0,2+++++5+++-+++2++++-+++3,1(1)3(3)1(1)3(3)2(2)1(2)2(3)3(3)1(2)1(2)1(1)1(1),50.0,83.0
13,901.0,404004.0,11Б,801.0,32.0,Семенчуков,Илья,Сергеевич,3212.0,238086.0,2--+-+1+++++--1--+---+-1,1(1)1(3)1(1)1(3)1(2)1(2)1(3)1(3)2(2)1(2)1(1)1(1),27.0,50.0
14,901.0,404004.0,11Б,801.0,17.0,Лаврентьева,Екатерина,Александровна,3213.0,281534.0,2+++++5+++++++2+++++-++4,1(1)3(3)1(1)3(3)2(2)2(2)2(3)2(3)2(2)2(2)1(1)1(1),54.0,93.0
15,901.0,404004.0,11Б,801.0,15.0,Колычев,Максим,Вадимович,3213.0,331908.0,2+++++5+++++++2++++-++-4,1(1)1(3)1(1)3(3)2(2)2(2)3(3)3(3)2(2)2(2)1(1)1(1),53.0,91.0
16,901.0,404004.0,11В,801.0,15.0,Илюхина,Кристина,Олеговна,3213.0,281015.0,2+++++5+++++++2++++--++4,1(1)3(3)1(1)1(3)2(2)2(2)2(3)3(3)2(2)2(2)1(1)1(1),52.0,88.0
17,901.0,404004.0,11Б,801.0,14.0,Коваценко,Кирилл,Владиславович,3213.0,281664.0,2+++++5+++++++2+++++-++4,1(1)3(3)1(1)2(3)2(2)2(2)3(3)3(3)2(2)2(2)1(1)1(1),55.0,96.0

In [265]:
# сделаем правильную индексацию строк, после поломке)
table.index = np.arange(len(table))
#table

### готовим шапку таблицы
# шапку таблицы нужно сделать не зависимой

In [266]:
# количество заданий в первой части
number = len(table.result_1[1])
# готовим шапку
table2 = pd.DataFrame(columns=['Last name'] + [str(i+1) for i in range(number)]+['summa'])
table2.head()

Empty DataFrame
Columns: [Last name, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, summa]
Index: []

[0 rows x 26 columns]


## Обрабатываем данные для одного или более файлов единного предмета
### это уневерсальный способ, который заменет, то что было выше (table)

In [267]:
row = 0
for i in Files:
    table3 = pd.read_excel(i.strip(), header = 6)
    table3.drop(table3.columns[[0, 1,3,5,7,9,11,15,17,19,21,23,25]], axis=1, inplace=True)
    table3.columns = cols
    # функция dropna удаляет строки где есть значения NaN 
    table3 = table3.dropna(subset=['kod'])
    # строчка ниже делает индексацию строк сначала и правильно
    # т.к. после удаление не корректных строк происходит сбой в нумерации
    table3.index = np.arange(len(table3))
    for t,k in enumerate(table3['result_1']):
        buf = plusToNum(k)
        table2.loc[t+row] = [table3['Last name'][t]]+[j for j in buf]+[sum(buf)]
    row += t+1
table2

,Last name,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,summa
0,Орлова,2,1,1,1,1,1,5,1,1,...,1,0,1,0,0,0,0,0,4,27
1,Паскаль,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
2,Мухутдинова,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,0,0,4,31
3,Нуреева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
4,Пастушенко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,0,3,31
5,Полетаев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,31
6,Попова,2,1,1,1,1,0,5,1,1,...,1,1,1,1,1,1,1,0,4,31
7,Рублева,2,1,1,1,1,0,3,0,1,...,1,1,1,0,0,1,0,0,3,24
8,Симоненко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
9,Сорокина,2,1,0,1,0,1,3,1,1,...,1,0,1,1,1,0,1,0,3,23
10,Сахаутдинов,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,1,3,30
11,Семенчуков,2,0,0,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,1,14
12,Лаврентьева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
13,Колычев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,0,4,31
14,Илюхина,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,0,1,1,4,31
15,Коваценко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
16,Орлова,2,1,1,1,1,1,5,1,1,...,1,0,1,0,0,0,0,0,4,27
17,Паскаль,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
18,Мухутдинова,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,0,0,4,31
19,Нуреева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
20,Пастушенко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,0,3,31
21,Полетаев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,31
22,Попова,2,1,1,1,1,0,5,1,1,...,1,1,1,1,1,1,1,0,4,31
23,Рублева,2,1,1,1,1,0,3,0,1,...,1,1,1,0,0,1,0,0,3,24
24,Симоненко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
25,Сорокина,2,1,0,1,0,1,3,1,1,...,1,0,1,1,1,0,1,0,3,23
26,Сахаутдинов,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,1,3,30
27,Семенчуков,2,0,0,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,1,14
28,Лаврентьева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
29,Колычев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,0,4,31
30,Илюхина,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,0,1,1,4,31
31,Коваценко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
32,Орлова,2,1,1,1,1,1,5,1,1,...,1,0,1,0,0,0,0,0,4,27
33,Паскаль,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
34,Мухутдинова,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,0,0,4,31
35,Нуреева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
36,Пастушенко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,0,3,31
37,Полетаев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,31
38,Попова,2,1,1,1,1,0,5,1,1,...,1,1,1,1,1,1,1,0,4,31
39,Рублева,2,1,1,1,1,0,3,0,1,...,1,1,1,0,0,1,0,0,3,24
40,Симоненко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
41,Сорокина,2,1,0,1,0,1,3,1,1,...,1,0,1,1,1,0,1,0,3,23
42,Сахаутдинов,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,1,3,30
43,Семенчуков,2,0,0,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,1,14
44,Лаврентьева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
45,Колычев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,0,4,31
46,Илюхина,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,0,1,1,4,31
47,Коваценко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32

## Пробую добавить строку с суммой по заданиям

In [268]:
test=[]
for i in range(1,number+1):
    test.append(table2[str(i)].sum())
#test
table2.loc[row] = ['sum']+[j for j in test]+[' ']
table2

,Last name,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,summa
0,Орлова,2,1,1,1,1,1,5,1,1,...,1,0,1,0,0,0,0,0,4,27
1,Паскаль,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
2,Мухутдинова,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,0,0,4,31
3,Нуреева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
4,Пастушенко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,0,3,31
5,Полетаев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,31
6,Попова,2,1,1,1,1,0,5,1,1,...,1,1,1,1,1,1,1,0,4,31
7,Рублева,2,1,1,1,1,0,3,0,1,...,1,1,1,0,0,1,0,0,3,24
8,Симоненко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
9,Сорокина,2,1,0,1,0,1,3,1,1,...,1,0,1,1,1,0,1,0,3,23
10,Сахаутдинов,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,1,3,30
11,Семенчуков,2,0,0,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,1,14
12,Лаврентьева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
13,Колычев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,0,4,31
14,Илюхина,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,0,1,1,4,31
15,Коваценко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
16,Орлова,2,1,1,1,1,1,5,1,1,...,1,0,1,0,0,0,0,0,4,27
17,Паскаль,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
18,Мухутдинова,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,0,0,4,31
19,Нуреева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
20,Пастушенко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,0,3,31
21,Полетаев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,31
22,Попова,2,1,1,1,1,0,5,1,1,...,1,1,1,1,1,1,1,0,4,31
23,Рублева,2,1,1,1,1,0,3,0,1,...,1,1,1,0,0,1,0,0,3,24
24,Симоненко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
25,Сорокина,2,1,0,1,0,1,3,1,1,...,1,0,1,1,1,0,1,0,3,23
26,Сахаутдинов,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,1,3,30
27,Семенчуков,2,0,0,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,1,14
28,Лаврентьева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
29,Колычев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,0,4,31
30,Илюхина,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,0,1,1,4,31
31,Коваценко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
32,Орлова,2,1,1,1,1,1,5,1,1,...,1,0,1,0,0,0,0,0,4,27
33,Паскаль,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
34,Мухутдинова,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,0,0,4,31
35,Нуреева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,1,4,33
36,Пастушенко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,1,1,0,3,31
37,Полетаев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,31
38,Попова,2,1,1,1,1,0,5,1,1,...,1,1,1,1,1,1,1,0,4,31
39,Рублева,2,1,1,1,1,0,3,0,1,...,1,1,1,0,0,1,0,0,3,24
40,Симоненко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
41,Сорокина,2,1,0,1,0,1,3,1,1,...,1,0,1,1,1,0,1,0,3,23
42,Сахаутдинов,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,1,3,30
43,Семенчуков,2,0,0,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,1,14
44,Лаврентьева,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
45,Колычев,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,1,1,0,4,31
46,Илюхина,2,1,1,1,1,1,5,1,1,...,1,1,1,1,0,0,1,1,4,31
47,Коваценко,2,1,1,1,1,1,5,1,1,...,1,1,1,1,1,0,1,1,4,32
48,sum,96,45,42,48,42,42,216,45,48,...,45,39,48,39,30,24,39,24,171,

In [269]:
#сохраним новую таблицу на диск
table2.to_excel('analytics.xlsx')